@charset "UTF-8";

/* Notes:
1. Maintaining Aspect Ratio:
width: 100;
padding-top: 100%;
*/

html,
html * {
    margin: 0px;
    /*make the whole page margin 0px*/
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
}


/* Basic Shapes */

.circle-md {
    overflow: hidden;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


/* Margins */

.margin-1em {
    margin: 1em;
}

.margin-2em {
    margin: 2em;
}


/* Navigation bar */

.Navbar {
    display: grid;
    grid-template-columns: 10% 1fr;
    position: fixed;
    z-index: 1100;
    mix-blend-mode: difference;
    width: 100%;
    padding: 2em;
}

.NavbarLogo {
    height: 20px;
    width: auto;
}

.NavbarPages {
    text-align: center;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 4em;
    font-size: 20px;
}

.NavbarPages>li>a {
    padding-left: 1em;
    color: white;
    text-decoration: none;
}

.NavbarPages>li>a:active,
a:hover {
    color: gold;
}


/* Containers */

.container-100vh-nopad {
    overflow: hidden;
    height: auto;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

.container-100vh {
    overflow: hidden;
    height: auto;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

.container-100vh-auto {
    overflow: hidden;
    height: auto;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

.container-50vh {
    overflow: hidden;
    height: auto;
    min-height: 50vh;
    width: 100%;
    padding: 2em;
}

.container-70vh-nopad {
    overflow: hidden;
    height: auto;
    min-height: 60vh;
    max-height: 70vh;
    width: 100%;
}

.container-50vh-nopad {
    overflow: hidden;
    height: auto;
    min-height: 40vh;
    max-height: 50vh;
    width: 100%;
}


/* Flexes */

.flex-ccc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexrow-ccc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.flex-lbl {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    text-align: left;
}

.flex-lcl {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.flex-cc {
    display: flex;
    align-items: center;
    text-align: center;
}


/* Grids Parents*/

.grid-autofit-la {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
}

.grid-autofit-sm {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
}


/* Grids Items */

.grid-block-100vh {
    height: 100vh;
    width: 100%;
    /* padding: 1em; */
}


/* Background */

.bg-black {
    background-color: black;
    color: white;
}

.bg-coldgrey {
    background-color: #1c1d24;
    color: white;
}

.bg-grey {
    background-color: rgb(64, 64, 64);
    color: white;
}

.bg-smokewhite {
    background-color: rgb(235, 235, 235);
    color: rgb(64, 64, 64);
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-red {
    background-color: #ea2340;
    color: white;
}

.bg-wheat {
    background-color: #f5eee6;
    color: black;
}

.bg-yellow {
    background-color: yellow;
    color: grey;
}

.bg-UI {
    background-color: #f9d749;
    color: rgb(64, 64, 64);
}

.bg-smansa {
    background-color: #3778a8;
    color: white;
}


/* Headlines */

.headline-l {
    z-index: 1010;
    text-align: left;
}

.headline-c {
    z-index: 1010;
    text-align: center;
}


/* Slider */

.slider-container-md {
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-padding: 25%;
    min-height: 40vh;
    max-height: 50vh;
    height: auto;
}

.slider-container-la {
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-padding: 25%;
    min-height: 50vh;
    max-height: 70vh;
    height: auto;
}


/* .slider-container-items {
position: relative;
top: 50%;
text-align: center;
margin: 3em 1em 3em 1em;
padding: 1em;
border-radius: 50px;
border-bottom: 1px rgba(1, 1, 1, 0.5);
border-right: 1px rgba(1, 1, 1, 0.5);
height: auto;
scroll-snap-align: center;
} */

.slider-container-items-md-nopad {
    position: relative;
    top: 50%;
    margin: 1em;
    border-radius: 2em;
    /* height is necessary to prevent cards to collapse or expand */
    height: 220px;
}

.slider-container-items-la-nopad {
    position: relative;
    top: 50%;
    margin: 2em;
    border-radius: 2em;
    /* height is necessary to prevent cards to collapse or expand */
    height: 309px;
}

.slider-items-sm {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 240px;
    height: 148px;
}

.slider-items-md {
    overflow: hidden;
    position: relative;
    text-align: center;
    /* width is necessary to stretch the slider container-item */
    width: 360px;
    border-radius: 2em;
}

.slider-items-la {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 500px;
    height: 309px;
    border-radius: 2em;
}


/* Block */

.block-90vh {
    min-height: 20vh;
    max-height: 90vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-40vh {
    min-height: 30vh;
    max-height: 40vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0px 2em 0px;
}

.block-40vh-l {
    min-height: 30vh;
    max-height: 40vh;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding-left: 30%;
}

.block-square-md {
    width: 240px;
    height: 240px;
}


/* CTAs */

.cta-outline-white {
    color: white;
    border: 1px solid white;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
}

.cta-outline-red {
    color: #ea2340;
    border: 1px solid #ea2340;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
}


/* From hazlazuardi.github.io */

.filmmakingextended {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    height: auto;
    max-height: 50vh;
    align-items: center;
}

.filmmakingextended>div {
    overflow: scroll;
    white-space: nowrap;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.filmmakingextended>div>div {
    font-size: 100%;
    width: 100%;
    text-align: center;
    mix-blend-mode: normal;
    color: black;
}

.block-slider>div {
    overflow: scroll;
    white-space: nowrap;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.filmmakingextended>div>img {
    max-height: 40vh;
    width: auto;
    margin: 1em;
    mix-blend-mode: normal;
}


/* Customization (ID-Cards) */

.custom-idcard-container {
    position: absolute;
    right: -20px;
    border-radius: 8px;
    width: 172px;
    height: 106px;
}

.custom-idcard-top {
    position: absolute;
    top: 0px;
    border-radius: 8px 8px 0px 0px;
    width: 172px;
    height: 70px;
    font-size: 8px;
    text-align: left;
    padding: 3px 0px 0px 50px;
}

.custom-idcard-bottom {
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 8px 8px;
    width: 172px;
    height: 35px;
    font-size: 8px;
    text-align: left;
    padding: 3px 0px 0px 8px;
}


/* Customization See more.. */

.SeeMore-Photography {
    background-image: url("img/Photography/Screen Shot 2020-02-05 at 12.38.48.png");
    background-size: 360px auto;
    background-position: center;
}

.SeeMore-Filmmaking {
    background-image: url("img/Minem\ Olak\ 1.png");
    background-size: 360px 222px;
    background-size: auto 222px;
    background-position: center;
}

.SeeMore-Programming {
    background-image: url("img/Screen\ Shot\ 2020-02-05\ at\ 17.21.56.png");
    background-size: 360px 222px;
    background-size: 360px auto;
    background-position: center;
}

@media only screen and (max-width: 609px) {
    .headline-c {
        grid-row: 2;
    }
    .headline-l {
        grid-row: 2;
        text-align: left;
    }
    .grid-block-100vh {
        margin-top: 20vh;
        height: auto;
        width: 100%;
        min-height: 50vh;
    }
}