<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST">
        {% csrf_token  %}
        <table>
        {{form.as_table}}
        <!-- {{year_form.as_table}} -->

        </table>
        <button type="submit">submit</button>

    </form>
</body>
</html>