<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Ini aboutme
    <form method="post">
        {% csrf_token %}
        {% for friend in flist %}
        {{friend.Name}}
        {{friend.Hobby}}
        {{friend.Favorite}}
        {{friend.Year}}

        {% endfor %}
        <a href="addfriends">Add</a>
    </form>
</body>
</html>