{% load static %}

<footer class="bg-black grid-block-50vh-text flexrow-ccc">
    <h1>Contact</h1>
    <br>
    <a>Email</a>
    <a>Instagram</a>
    <br> {% include 'snippets/copyright.html' %}
</footer>